<?xml version="1.0" encoding="utf-8"?>
<!-- if you change this file, make sure to tick the versionCode in AndroidManifest. -->
<plugin>

    <extension
        type="gov.tak.api.plugin.IPlugin"
        impl="ca.rheinmetall.atak.application.RhcPluginLifecycle"
        singleton="true" />

    <extension
        type="transapps.maps.plugin.tool.ToolDescriptor"
        impl="ca.rheinmetall.atak.application.PoiPluginTool"
        singleton="true" />

    <extension
        type="transapps.maps.plugin.tool.ToolDescriptor"
        impl="ca.rheinmetall.atak.application.IncidentPluginTool"
        singleton="true" />

</plugin>
